/* VariableProximity.css */
.variable-proximity {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.variable-proximity .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}