.animated-gradient-text {
  position: relative;
  display: inline-block;
}

.animated-gradient-text .text-content {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

.animated-gradient-text.with-border .gradient-overlay {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 4px;
  z-index: -1;
}